<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/dialog_template :: common_header(~{::title},~{::link},~{::style})">
    <title>图标信息</title>
    <link rel="stylesheet" th:href="@{/components/ztree/css/zTreeStyle/zTreeStyle.css}"/>
</head>
<body class="page-content">
<div class="row">
    <div class="col-xs-2">
        <div class="widget-box widget-color-blue">
            <div class="widget-header">
                <div class="widget-title lighter">
                    <i class="ace-icon fa fa-filter"></i>
                    图标分类
                </div>
            </div>
            <div class="widget-body">
                <div class="widget-main no-padding">
                    <div id="category" class="ztree"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-10 no-padding-left">
        <div class="row">
            <div class="col-xs-12">
                <div class="widget-box widget-color-blue">
                    <div class="widget-header">
                        <div class="widget-title lighter">
                            <i class="ace-icon fa fa-filter"></i>
                            图标选择示例
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <form class="form-horizontal">
                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2 no-padding-right">Web图标</label>
                                        <div class="col-sm-4" id="icon">
                                            <i th:class="'ace-icon ' + ${icon}" style="font-size:20px"></i>
                                            <input type="text" id="iconClass" th:value="${icon}" class="hide"/>
                                            <input type="hidden" id="parentId" name="parentId">
                                            <span th:text="${icon_name}"></span>
                                            <button class="btn btn-xs btn-info" type="button" onclick="selectIcon()">
                                                选择图标
                                            </button>
                                        </div>
                                        <div class="col-sm-6 no-padding">
                                            <div class="btn-group">
                                                <button class="btn btn-sm" type="button"
                                                        onclick="changeIconStyle('default')">Default
                                                </button>
                                                <button class="btn btn-sm btn-primary"
                                                        onclick="changeIconStyle('primary')" type="button">Primary
                                                </button>
                                                <button class="btn btn-sm btn-success"
                                                        onclick="changeIconStyle('success')" type="button">Success
                                                </button>
                                                <button class="btn btn-sm btn-info" onclick="changeIconStyle('info')"
                                                        type="button">Info
                                                </button>
                                                <button class="btn btn-sm btn-warning"
                                                        onclick="changeIconStyle('warning')" type="button">Warning
                                                </button>
                                                <button class="btn btn-sm btn-danger"
                                                        onclick="changeIconStyle('danger')" type="button">Danger
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="space-6"></div>
                                <div class="row ">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2 no-padding-right">图标显示名称</label>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <input type="text" class="form-control" maxlength="100" id="search"
                                                       name="search" placeholder="显示名称..."/>
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-sm btn-info"
                                                            onclick="searchDisplayName();">
                                                        <i class="ace-icon glyphicon glyphicon-list"></i>查询
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row o-padding-bottom">
            <div class="col-xs-12 o-padding-bottom">
                <div class="widget-box widget-color-blue">
                    <div class="widget-header">
                        <div class="widget-title lighter">
                            <i class="ace-icon fa fa-filter"></i>
                            图标信息
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main no-padding-bottom">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="bs-icons">
                                        <ul class="bs-icons-list" id="grid_body"></ul>
                                    </div>
                                    <div id="grid_paging" class="col-xs-12"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="include/dialog_template :: javascript"/>
<script th:src="@{/components/ztree/js/jquery.ztree.all.min.js}"></script>
<script th:src="@{/js/jPage-1.2.js}"></script>

<script type="text/javascript">
    var currentPage = 1, currentIcon, currentCategory;
    $(function () {
        bindTree();
    });
    function selectIcon() {
        var iconClass = $('#iconClass').val();
        var parentId = $('#parentId').val();
        var body = top.layer.getChildFrame('body', parentId);
        body.contents().find('#iconDisp').attr('class', 'ace-icon ' + iconClass);
        body.contents().find('#icon').val(iconClass);
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    }
    function bindTree() {
        var treeUrl = ctxApi + "/sys/menu/icon/category";
        bindZtree('category', treeUrl, treeOnClick, true);
    }
    function treeOnClick(id, name) {
        search(1, '', name);
    }

    function generate() {
        var url = ctxApi + "/sys/menu/icon/generate";
        $.ajax({
            url: url,
            type: 'GET',
            dataType: 'json',
            success: function (data, textStatus, jqXHR) {
                console.log(data);
            }
        })
    }
    function searchDisplayName() {
        var condition = $("#search").val() || '';
        if (condition.trim().length == 0) {
            msg('要查询的显示名称不能为空');
            return;
        }
        search(currentPage, condition, 'search');
    }
    function search(page, icon, category) {
        icon = icon || "";
        category = category || "FontAwesome";
        page = parseInt(page || currentPage) - 1;
        currentCategory = category;
        currentIcon = icon;
        var iconUrl = ctxApi + "/sys/menu/icon/list?page=" + page + "&icon=" + icon + "&category=" + category;
        $.getJSON(iconUrl, function (data) {
            $("#grid_body").html("");
            $.each(data.content, function (i, item) {
                var html = '<li><a href="javascript:;" onclick="setIconClass(\'' + item.className + '\',\'' + item.displayName + '\')" title="' + item.displayName + '"><span class="ace-icon ' + item.className + '" aria-hidden="true"></span></a></li>';
                $("#grid_body").append(html);
            });
            var element = $('#grid_paging');
            if (data.totalElements > 0) {
                currentPage = parseInt(data.number || 0) + 1
                element.page({count: data.totalElements, pageSize: data.size, pageNo: currentPage, skipPart: false});
            } else {
                element.html("");
            }
        });
    }
    function setIconClass(cName, dName) {
        $('#icon i').attr('class', 'ace-icon ' + cName);
        $('#iconClass').val(cName);
        $('#icon span').html(dName);
    }
    function changeIconStyle(style) {
        var icon = $('#iconClass').val();
        if (style != 'default') {
            $('#icon i').attr('class', 'ace-icon ' + icon + ' text-' + style);
            $('#icon span').attr('class', 'label label-' + style);
            $('#iconClass').val(icon + ' text-' + style);
        } else {
            $('#icon i').attr('class', 'ace-icon ' + icon);
            $('#icon span').attr('class', '');
        }
    }
    $(document).on("click", "#grid_paging .pagination li", function () {
        var num = $(this).attr("num");
        if ($(this).attr("class") == "disabled") {
            return false;
        }
        search(num, currentIcon, currentCategory);
    });

</script>
</body>