<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:remove="tag">
<head th:replace="include/ajax_template :: common_header(~{::title},~{::link})">
    <title>菜单管理</title>
    <link rel="stylesheet" th:href="@{/components/jstree/themes/proton/style.min.css}"/>
</head>
<div class="page-header">
    <h1>
        菜单管理
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            列表
        </small>
    </h1>
</div>

<div class="row">
    <div class="col-sm-3 col-xs-12 widget-container-col">
        <div class="widget-box">
            <div class="widget-header">
                <h5 class="widget-title">
                    <i class="ace-icon fa fa-filter"></i>
                    菜单列表
                </h5>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div id="tree" class="scrollable"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9 col-xs-12">
        <form id="listForm">
            <table id="tbl" class="table table-striped table-bordered table-hover" cellspacing="0"
                   width="100%"></table>
        </form>
    </div>
</div>
<script th:inline="javascript" type="text/javascript">
    var editFormUrl = ctxAdmin + "/sys/menu/form";
    var scripts = [null,
        /*[[@{/components/jstree/jstree.min.js}]]*/ null,
        /*[[@{/components/dataTables/js/jquery.dataTables.min.js}]]*/ null,
        /*[[@{/components/dataTables/js/dataTables.bootstrap.min.js}]]*/ null,
        null];
    $('.page-content-area').ace_ajax('loadScripts', scripts, function () {
        $(function () {
            initPageScript();
            initDataTableView();
            initTreeView();
        });
    });

    function initDataTableView() {
        var tableUrl = ctxApi + "/sys/menu/";

        $('#tbl').dataTable({
            'ajax': {
                'url': tableUrl,
            },
            'rowId': 'id',
            'paging': false,
            'columns': [
                {
                    'data': 'id',
                    'visible': false,
                    'title': 'ID'
                }, {
                    'data': 'parentId',
                    'visible': false,
                    'title': 'PID'
                }, {
                    'data': 'name',
                    'title': '显示名称',
                    'orderable': false,
                }, {
                    'data': 'isShow',
                    'title': '菜单可见',
                    'orderable': false,
                    'width': '60px',
                    "render": function (data, type, row) {
                        if (data == "1")
                            return '<span class="label label-success arrowed">显示</span>';
                        return '<span class="label label-danger arrowed">隐藏</span>';
                    }
                }, {
                    'data': 'sort',
                    'title': '排序',
                    'orderable': false,
                    'width': '60px',
                    'render': function (data, type, row) {
                        return '<input type="text" name="ids" class="hide" value="' + row.id + '"/><input type="number" name="sorts" value="' + data + '" class="input-sm input-mini text-center" />';
                    }
                }, {
                    'data': 'target',
                    'title': '目标',
                    'orderable': false,
                }, {
                    'data': 'permission',
                    'title': '权限标识',
                    'orderable': false,
                }, {
                    'data': 'icon',
                    'title': '菜单图标',
                    'orderable': false,
                    'className': 'text-center',
                    'width': '60px',
                    "render": function (data, type, row) {
                        return '<i class="ace-icon ' + data + '" style="font-size:18px;"></i>';
                    }
                }, {
                    'data': null,
                    'title': '操作',
                    'width': '110px',
                    'defaultContent': '<div class="btn-group" ></div>',
                    'orderable': false,
                },
            ]
        }).on('draw.dt', function () {
            $(".dataTable tbody td .btn-group").append(getHtml('datatables_button_view'));
            $(".dataTable tbody td .btn-group").append(getHtml('datatables_button_edit'));
            $(".dataTable tbody td .btn-group").append(getHtml('datatables_button_del'));
        }).on('init.dt', function () {
            $("div .toolbar .btn-group").append(getHtml('toolbar_button_add'));
            $("div .toolbar .btn-group").append(getHtml('toolbar_button_save_sort'));
            $("div .toolbar .btn-group").append(getHtml('toolbar_button_refresh'));
        });
        if ($('#datatables_button_view').length > 0)
            $('#tbl tbody').on('click', 'a#viewrow', view);
        if ($('#datatables_button_edit').length > 0)
            $('#tbl tbody').on('click', 'a#editrow', edit);
        if ($('#datatables_button_del').length > 0)
            $('#tbl tbody').on('click', 'a#delrow', del);
    }
</script>
<script sec:authorize="hasAuthority('sys:menu:view')" type="text/javascript">
    function view() {
        var data = $('#tbl').DataTable().row($(this).parents('tr')).data();
        var url = editFormUrl + '?id=' + data.id;
        openDialogView('查看菜单', url, '800px', '500px')
    }
    function initTreeView(pid) {
        pid = pid || '0';
        var treeUrl = ctxApi + "/sys/menu/tree?all=1";
        bindJstree('tree', treeUrl, false, function (e, data) {
            var treeObj = data.instance;
            treeObj.deselect_all();
            var obj = treeObj.get_node(pid);
            treeObj.select_node(obj, false, false);
        });
        $('#tree').off('changed.jstree').on('changed.jstree', function (e, data) {
            if (data.action == "select_node")
                refDataTables(data.selected);
        });
    }
    function refDataTables(pid) {
        var tab = $('#tbl').DataTable();
        tab.columns(1).search(pid).draw();
    }
    function refresh() {
        initTreeView();
    }
    function refreshCurrTreeNode() {
        var treeObj = $('#tree').jstree();
        var nodeIds = treeObj.get_selected(true);
        if (nodeIds.length > 0) {
            initTreeView(nodeIds[0].id);
        } else {
            initTreeView();
        }
    }
</script>
<script sec:authorize="hasAuthority('sys:menu:add')" type="text/javascript">
    function add() {
        var treeObj = $('#tree').jstree();
        var nodes = treeObj.get_selected();
        var url = editFormUrl;
        if (nodes.length > 0) {
            var node = treeObj.get_node(nodes[0]);
            url += "?parent.id=" + node.id + "&parent.name=" + node.name;
        }
        openDialog("新增菜单", url, "800px", "500px", refreshCurrTreeNode);
    }
</script>
<script sec:authorize="hasAuthority('sys:menu:edit')" type="text/javascript">
    function edit() {
        var data = $('#tbl').DataTable().row($(this).parents('tr')).data();
        var url = editFormUrl + '?id=' + data.id;
        openDialog('修改菜单', url, '800px', '500px', initTreeView)
    }
</script>
<script sec:authorize="hasAuthority('sys:menu:del')" type="text/javascript">
    function del() {
        var data = $('#tbl').DataTable().row($(this).parents('tr')).data();
        var url = ctxApi + '/sys/menu/' + data.id;
        confirmx('确认要删除该记录码？', function () {
            loading();
            $.ajax({
                url: url,
                type: "DELETE",
                dataType: "json",
                success: function (data) {
                    closeLoading();
                    if (data.success) {
                        msg(data.message);
                        refreshCurrTreeNode();
                    } else {
                        err(data.message);
                    }
                }
            });
        });
    }
</script>
<script sec:authorize="hasAuthority('sys:menu:savesort')" type="text/javascript">
    function updateSort() {
        var url = ctxApi + '/sys/menu/sort';
        loading();
        $.post(url, $('form').serialize(), function (data) {
            closeAll();
            if (data.success) {
                msg(data.message);
                refreshCurrTreeNode();
            } else {
                err(data.message);
            }
        });
    }
</script>
<th:block th:replace="include/ajax_template :: toolbar_button_refresh" sec:authorize="hasAuthority('sys:menu:view')"/>
<th:block th:replace="include/ajax_template :: toolbar_button_add" sec:authorize="hasAuthority('sys:menu:add')"/>
<th:block th:replace="include/ajax_template :: toolbar_button_save_sort"
          sec:authorize="hasAuthority('sys:menu:savesort')"/>
<th:block th:replace="include/ajax_template :: datatables_button_view" sec:authorize="hasAuthority('sys:menu:view')"/>
<th:block th:replace="include/ajax_template :: datatables_button_edit" sec:authorize="hasAuthority('sys:menu:edit')"/>
<th:block th:replace="include/ajax_template :: datatables_button_del" sec:authorize="hasAuthority('sys:menu:del')"/>
</html>