<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">
<head th:replace="include/ajax_template :: common_header(~{::title},~{::link})">
    <title>组织机构管理</title>
    <link rel="stylesheet" th:href="@{/components/jstree/themes/proton/style.min.css}"/>
</head>
<div class="page-header">
    <h1>
        组织机构管理
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            列表
        </small>
    </h1>
</div>

<div class="row">
    <div class="col-sm-3 col-xs-12 widget-container-col no-padding-right">
        <div class="widget-box">
            <div class="widget-header">
                <h5 class="widget-title">
                    <i class="ace-icon fa fa-filter"></i>
                    机构列表
                </h5>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div id="tree" class="ztree scrollable"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9 col-xs-12">
        <form id="listForm">
            <table id="tbl" class="table table-striped table-bordered table-hover" cellspacing="0"
                   width="100%"></table>
        </form>
    </div>
</div>
<script th:inline="javascript">
    var editFormUrl = ctxAdmin + "/sys/office/form";
    var scripts = [null,
        /*[[@{/components/jstree/jstree.min.js}]]*/ null,
        /*[[@{/components/dataTables/js/jquery.dataTables.min.js}]]*/ null,
        /*[[@{/components/dataTables/js/dataTables.bootstrap.min.js}]]*/ null,
        null];
    $('.page-content-area').ace_ajax('loadScripts', scripts, function () {
        $(function () {
            initPageScript();
            initDataTableView();
            initAreaTreeView();
        });
    });

    function initDataTableView() {
        var tableUrl = ctxApi + "/sys/office/";

        $('#tbl').dataTable({
            'ajax': {
                'url': tableUrl,
            },
            'rowId': 'id',
            'serverSide': true,
            'paging': false,
            'columns': [
                {
                    'data': 'id',
                    'visible': false,
                    'title': 'ID'
                }, {
                    'data': 'parent.id',
                    'visible': false,
                    'title': 'PID'
                }, {
                    'data': 'name',
                    'title': '机构名称',
                    'orderable': false,
                }, {
                    'data': 'code',
                    'title': '机构编码',
                    'orderable': false,
                }, {
                    'data': 'typeLabel',
                    'title': '机构分类',
                    'orderable': false,
                }, {
                    'data': 'sort',
                    'title': '排序',
                    'orderable': false,
                    'width': '60px',
                    'render': function (data, type, row) {
                        return '<input type="text" name="ids" class="hide" value="' + row.id + '"/><input type="number" name="sorts" value="' + data + '" class="input-sm input-mini text-center" />';
                    }
                }, {
                    'data': 'useable',
                    'title': '是否有效',
                    'orderable': false,
                    'width': '60px',
                    "render": function (data, type, row) {
                        if (data == "1")
                            return '<span class="label label-success arrowed">有效</span>';
                        return '<span class="label label-danger arrowed">无效</span>';
                    }
                }, {
                    'data': 'remarks',
                    'title': '备注',
                    'orderable': false,
                }, {
                    'data': null,
                    'title': '操作',
                    'defaultContent': '<div class="btn-group" >' + makeTableViewSmbtn() +
                    makeTableEditSmbtn() + makeTableDelSmbtn() + '</div>',
                    'orderable': false,
                    'width': '100px',
                },
            ], 'initComplete': function () {
                $("div .toolbar").html('<div class="btn-group">' +
                    createToolbarAddBtn() +
                    createToolbarSaveSortBtn() +
                    createToolbarRefBtn() +
                    '</div>'
                );
            }
        });
        $('#tbl tbody').on('click', 'a#viewrow', view);
        $('#tbl tbody').on('click', 'a#editrow', edit);
        $('#tbl tbody').on('click', 'a#delrow', del);
    }
</script>

<script type="text/javascript">
    <![CDATA[
    function initAreaTreeView(pid) {
        pid = pid || '0';
        var treeUrl = ctxApi + "/sys/office/tree?isall=1";
        bindJstree('tree', treeUrl, false, function (e, data) {
            var treeObj = data.instance;
            treeObj.deselect_all();
            var obj = treeObj.get_node(pid);
            treeObj.select_node(obj, false, false);
        });
        $('#tree').on('changed.jstree', function (e, data) {
            refDataTables(data.selected);
        });
    }
    function refDataTables(pid) {
        var tab = $('#tbl').DataTable();
        tab.columns(1).search(pid).draw();
    }
    function refresh() {
        initAreaTreeView();
    }
    function refreshCurrTreeNode() {
        var treeObj = $('#tree').jstree();
        var nodes = treeObj.get_selected();
        if (nodes.length > 0) {
            initAreaTreeView(treeObj.get_node(nodes[0]).id);
        }
    }
    function add() {
        var treeObj = $('#tree').jstree();
        var nodes = treeObj.get_selected();
        var url = editFormUrl;
        if (nodes.length > 0) {
            var node = treeObj.get_node(nodes[0]);
            url += "?parent.id=" + node.id + "&parent.name=" + node.name;
        }
        openDialog("新增机构", url, "800px", "500px", initAreaTreeView);
    }
    function del() {
        var data = $('#tbl').DataTable().row($(this).parents('tr')).data();
        var url = ctxApi + '/sys/office/' + data.id;
        confirmx('确认要删除该记录码？', function () {
            loading();
            $.ajax({
                url: url,
                type: "DELETE",
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        closeLoading();
                        msg(data.message);
                        refreshCurrTreeNode();
                    } else {
                        err(data.message);
                    }
                },
                error: function (request, textStatus, errorThrow) {
                    err("提交服务器失败");
                }
            });
        });
    }
    function view() {
        var data = $('#tbl').DataTable().row($(this).parents('tr')).data();
        var url = editFormUrl + '?id=' + data.id;
        openDialogView('查看机构', url, '800px', '500px')
    }
    function edit() {
        var data = $('#tbl').DataTable().row($(this).parents('tr')).data();
        var url = editFormUrl + '?id=' + data.id;
        openDialog("修改机构", url, "800px", "500px", initAreaTreeView);
    }
    function updateSort() {
        var url = ctxApi + '/sys/office/sort';
        loading();
        try {
            $.post(url, $('form').serialize(), function (data) {
                closeAll();
                if (data.success) {
                    msg(data.message);
                    refreshCurrTreeNode();
                } else {
                    err(data.message);
                }
            });
        } catch (e) {
            closeAll();
        }
    }
    ]]>
</script>
</html>